aside.ps-sidebar-root.app.sidebarstyle.css-1wvake5 {
  width: 265px;
  max-width: 265px;
  border-right: 0;
  margin: 0px 0 0;
  background: #0a1c31;
  padding: 0px 0 20px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9990;
  transition: all ease 0.4s;
  margin-bottom: 0px;
  padding-bottom: 0;
}
nav.ps-menu-root.css-vj11vy {
  background: #0a1c31;
}
.imglogoside {
  padding: 10px 0px;
  margin: 0 0 30px;
  line-height: 1;
  min-height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.imglogoside img {
  max-width: 179px;
  margin: 0px auto;
  display: block; 
}
.css-kh81go >.ps-menu-button {    
  padding-right: 0px !important;
  /* padding-left: 0px !important; */
  color: white !important;
}
.css-kh81go >.ps-menu-button:hover{
  background-color: #454545a6 !important;
}
.css-1g25xw3 >.ps-menu-button:hover{
  background-color: #454545a6 !important; 
}
.css-1g25xw3 >.ps-menu-button{
  color: white !important;
}
.css-1g25xw3:hover{
  background-color: #454545a6 !important;  
}
.css-1tqrhto >.ps-menu-button:hover{
  background-color: #454545a6 !important;
}
.css-1tqrhto >.ps-menu-button{
  padding-left: 65px !important;
}
.css-1tqrhto >.ps-menu-button::after{
  display: block;
  content: "";
  position: absolute;
  left: 31px;
  height: 8px;
  width: 8px;
  border: 2px solid rgb(246 241 241);
  border-radius: 50px;
  top: 22px;
}
.css-honxw6 {  
  width: 8px !important;
  height: 8px !important;  
}
.css-jn69v9{
  width: 8px !important;
  height: 8px !important;
}
.css-1tqrhto 
.links_voilet{
  position: relative;
  /* background-color: rgba(255,255,255,.07) !important; */
}
.profileimg{
  justify-content: center;
}
.profileimg .user_thumb {
  width: 68px;
  min-width: 68px;
  height: 68px;
  border: 4px solid rgba(255,255,255,0.15);
  border-radius: 50%;
  transition: all ease 0.4s;
}
.profileimg .user_thumb img{
  width: 100%;
}
.user_info{
  padding-left: 20px;
}
.user_info h5{
  color: #fff;
  margin: 0 0 14px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.user_info a{
  display: block;
  margin: 0 20px 0 0;
  color: white;
}
svg.icons89 {
  margin: 0 10px 0 0;  
  width: 35px;
  height: 23px;
}
span.conten {
  font-weight: 500;  
  font-size: 14px;
  color: white;
}
/* .css-kh81go >.ps-menu-button:hover {
  color: red !important;
} */


/* Set scrollbar width */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Handle (the thumb of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
}

/* On hover, change the color of the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.css-dip3t8 {
  position: relative;
  height: 100%;
  overflow-y: auto;
  z-index: 3;
  background-color: transparent!important;
}


.css-z5rm24 {
  background: rgba(255,255,255,.07) !important;
}
.active-nav-link {
  color: red !important; 
  background-color: white !important;  
}

.rounded-icon {
  border-radius: 50%; /* Make the icon rounded */
  animation: rotate 2s linear infinite; /* Rotate the icon continuously */
}

aside.ps-sidebar-root.app.sidebarstyle.css-1wvake5 {
  width: 0 !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}