.small_btn {
    padding: 6px 15px !important;
    line-height: 1.315 !important;
    letter-spacing: 0.09em !important;
}

.div_add h6{
    margin: 0.6rem 0 0 0 !important;
    font-size: 0.85rem !important;
}