.input_group {
    display: flow !important;
    flex-direction: row;
}


/* media query start */

@media screen and (max-width:999px) {
    .input_group .fName input{
        margin-bottom: 11px;
    }
    .input_group .lName input{
        margin-top: 11px;
    }    
}

.style01 {
    color: tomato;
    font-size: 1rem;
    padding-top: 5px !important;
}