

.peopleReveiw{
    padding: 65px 0;
    background-color: #fff;
}
.peopleReveiw h3{
    font-size: 32px;
    font-weight: 600;
    color: #0A1C31;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    
}

.heik{
    position: relative;
    padding-bottom: 14px;
    margin: 0 0 25px;
}




.slice{
    max-width: 922px;
    margin: 0 auto;
    border: 10px solid #F8FAFD;
    padding: 55px;
}
.para01 p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    max-width: 655px;
    font-family: 'Mulish', sans-serif;
    margin: 1.8rem 0;

}
.imges{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.imges img{
    margin: 0 15px 0 0;
}
.auther_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;

}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: red !important;
}
.slick-dots li button:before {    
    font-size: 16px !important;    
}
.slick-dots li {   
    display: inline !important;    
    margin: 0.5px 0px !important;
        
}
.slick-dots {   
    text-align: right !important;
    top: 50% !important;
}


/* HorizontalSlider.css */
/* .slider-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  .slick-slider {
    position: relative;
  }
  
  .slick-slide {
    transition: transform 0.3s;
  }

  .slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}
.slick-prev:before,
.slick-next:before {
  content: '←';
  font-size: 24px;
  color: #000;
}

.slick-next:before {
  content: '→';
}

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.slick-dots li {
    display: inline;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    color: #000;
  }
  
  .slick-dots li button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 1;
    color: #000;
  }
  
  .slick-dots li.slick-active button {
    color: #00f;
  } */
