.footer{
    background: #0A1C31;
    padding: 48px 0 0;
    color: #fff;
}
.footerRight p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    max-width: 378px;
    font-style: normal;
    margin-top: 12px;
    font-family: 'Mulish', sans-serif;
}
.part1{
    margin: 0 0 30px;    
}
.slogan{
    position: relative;
}
.slogan h4 {
    font-style: normal;
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 18px;
    margin: 0 0 15px;
    line-height: 27px;
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slogan::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 1px;
    background: #EC3C3F;
}
.part1 ul li a{
    text-decoration: none;
    color: white;
}
.part1 ul li a:hover{
    color: #EC3C3F;
}
.part1 ul li{
    list-style: none;
    padding: 8px 0;
}
.part1 ul{
    padding-left: 0rem !important;
}

.icons svg{
    margin-right: 9px;
    font-size: 17px;
}
.icons svg:hover{
    color: white !important;
}
.icons li a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
    transition: all ease 0.4s;
    text-decoration: none;
}
.icons li a:hover{
    color: #EC3C3F;
}
.icon01 ul li{
    list-style: none;
}
.icon01{
    display: flex;    
}
.icon01 li {
    background: #0A1C31;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 20px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.8s; 
    font-family: 'Mulish', sans-serif;  
}
.icon01 li:hover{
    color: #0A1C31;
    background-color: white;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 17px 0;
    margin: 20px 0 0;
    font-family: 'Mulish', sans-serif;
}

.backToTop {
    height: 42px;
    width: 42px;
    display: block;     
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 99;
    padding: 10px 0;
    text-align: center;
    background: #0A1C31;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}
.backToTop svg{
    background-color: #0A1C31;
    color: white;
    font-size: 22px;
    vertical-align: inherit !important;
}



@media screen and (max-width:1399) {
    .icon01 li {        
        height: 38px;
        width: 38px;        
        font-size: 17px;
        margin-right: 7px;
        
    }
}
@media screen and (max-width:1199px) {
    .icon01 li {        
        height: 30px;
        width: 30px;        
        font-size: 17px;
        margin-right: 7px;
        
    }
}