.main_box {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 265px);
  max-width: calc(100% - 265px);
  padding: 20px 30px;
  margin-left: auto;
}
body {
  font-family: "Mulish", sans-serif; 
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}
