

.about_section{
    background-image: linear-gradient(rgba(255,255,255,0) 71%,#fff),url("../../img/638f97203417b712b7eb3218_Group\ 1217.svg");
    background-position: 0 0,100% 100%;
    background-repeat: repeat,no-repeat;
    background-size: auto,cover;
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
}
.about01{
    
    max-width: 750px;
    background-color: #fff;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    padding: 2.813rem 5.625rem;
    box-shadow: 0 1px 8px 1px rgba(111,119,148,.23);
}
.hicontent h1{
    font-family: 'Poppins', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 22px;
    line-height: 50px;
    font-size: 43px;
    font-weight: normal;
    max-width: 500px;    
    margin-left: auto;
    margin-right: auto;
}
.pcontent p{
    text-align: center;
    padding-left: 0;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 23px;
}